$purple:#796b7d;
$deep-purple:#45334a;
$pink:#ffa3a3;

html {
	min-height:96%;
	background:#fff7ee;
	padding: 23px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset $pink 0 0 0 5px,
		inset $deep-purple 0 0 0 6px,
		inset $purple 0 0 0 10px,
		inset $pink 0 0 0 11px,
		inset $deep-purple 0 0 0 16px;
	-moz-box-shadow:
		inset $pink 0 0 0 5px,
		inset $deep-purple 0 0 0 6px,
		inset $purple 0 0 0 10px,
		inset $pink 0 0 0 11px,
		inset $deep-purple 0 0 0 16px;
	box-shadow:
		inset $pink 0 0 0 5px,
		inset $deep-purple 0 0 0 6px,
		inset $purple 0 0 0 10px,
		inset $pink 0 0 0 11px,
		inset $deep-purple 0 0 0 16px;
}

p {
	font-size:14px;
	color:$deep-purple;
}

h2 {
	font-size:35px;
}

h3 {
	font-size:17px;
	color:$deep-purple;
	margin-top:30px;
}

li {
	font-size:14px;
	color:$deep-purple;
	font-family: "museo-slab",serif;
}

a {
	text-decoration:none;
	color:$deep-purple;
	&:hover {
		text-shadow: 0px 2px 2px $pink;
	}
}

h1, h2, h3 {
	color:$deep-purple;
	text-shadow: 0px 2px 2px $pink;
	font-weight:700;
}

h4, h5, h6 {
	font-family: "museo-slab",serif;
}

nav {
	float:left;
	width:100%;
	@media screen and (min-width:481px) {
		width:160px;
		position:fixed;
	}
	img {
		float:left;
		width:140px;
		padding-right:7px;
		@media screen and (min-width:481px) {
			padding-right:0;
			float:none;
		}	
	}
	ul {
		position:absolute;
		right:35px;
		margin-top:5px;
		@media screen and (min-width:481px) {
			float:none;
			padding-left:0px;
			margin:25px 0 0 0;
		}
		li {
			font-family:"cooper-black-std", sans-serif;
			text-align:right;
			font-size:16px;
			color:$purple;
			font-weight:700;
			list-style:none;
			margin:5px 0;
			span {
				font-family: "museo-slab",serif;
				font-weight:100;
				display:none;
				@media screen and (min-width:481px) {
					display:inline;
				}
			}
			@media screen and (min-width:481px) {
				text-align:left;
			}
		}
	}
}

section#main	{
	width:100%;
	float:left;
	padding:20px 0 0 0;
	@media screen and (min-width:481px) {
		width:77%;
		padding:0 0 0 170px;
	}
	@media screen and (min-width:801px) {
		width:85%;
	}
}

section#homecontent {
	clear:both;
	padding-top:25px;
}

div.wrapper {
	padding:0 1px 0 0;
	@media screen and (min-width:481px) {
		padding:0px 30px;
	}
}

section.listing {
	position:relative;
	ul {
		padding-left:0px;
	}
	ul li {
		list-style:none;
		padding:0 0 2px 0;
		font-size:14px;
	}
	ul li a {
		font-weight:400;
	}
	h4 {
		padding-left:0px;
		margin-top:0px;
		margin-bottom:-5px;
	}
	p.hosts {
		font-size:13px;
		font-weight:600;
		&:before {
			content:'with ';
		}
	}
	p.show_description {
		font-size:13px;
		font-style:italic;
		margin-top:-20px;
	}
	p.more {
		position:absolute;
		text-transform:lowercase;
		font-style:italic;
		font-size:12px;
		bottom:0px;
		right:10px;
	}
	img {
		width:100%;
		margin-top:-15px;
	}
	float:left;
	background:#fff;
	padding:10px;
	margin:5px 0;
	width:93%;
	height:300px;
	-webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
          box-shadow: 0 2px 3px rgba(0,0,0,.25);
	@media screen and (min-width:481px) {
		width:280px;
		margin:5px 10px 5px 0px;
	}
}

footer {
	width:300px;
	margin:0 auto;
	p {
		width:170px;
		float:left;
	}
	img {
		float:left;
		width:100px;
		margin-top:-52px;
		padding:20px 0;
	} 
}

iframe {
	margin-left:-3px;
}

iframe.freenode {
	max-width:100%;
}