html {
  background: url("sand.jpg") repeat;
  padding: 23px;
  overflow-x: hidden;
  /* For Opera */
  -webkit-box-shadow: inset #ffa3a3 0 0 0 5px, inset #45334a 0 0 0 6px, inset #796b7d 0 0 0 10px, inset #ffa3a3 0 0 0 11px, inset #45334a 0 0 0 16px;
  -moz-box-shadow: inset #ffa3a3 0 0 0 5px, inset #45334a 0 0 0 6px, inset #796b7d 0 0 0 10px, inset #ffa3a3 0 0 0 11px, inset #45334a 0 0 0 16px;
  box-shadow: inset #ffa3a3 0 0 0 5px, inset #45334a 0 0 0 6px, inset #796b7d 0 0 0 10px, inset #ffa3a3 0 0 0 11px, inset #45334a 0 0 0 16px; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #45334a; }
  a:hover {
    text-decoration: underline; }
  a:active {
    background: #ffa3a3; }

h1, h2, h3, h4, h5 {
  color: #45334a;
  text-shadow: 0px 2px 2px #fff;
  font-weight: 700; }

nav {
  float: left;
  width: 100%; }
  @media screen and (min-width:481px) {
    nav {
      width: 160px;
      position: fixed; } }
  nav img {
    float: left;
    width: 140px;
    padding-right: 7px; }
    @media screen and (min-width:481px) {
      nav img {
        padding-right: 0;
        float: none; } }
  nav ul {
    position: absolute;
    right: 35px;
    margin-top: 5px; }
    @media screen and (min-width:481px) {
      nav ul {
        float: none;
        padding-left: 0px;
        margin: 25px 0 0 0; } }
    nav ul li {
      text-align: right;
      font-size: 16px;
      color: #45334a;
      text-shadow: 0px 2px 2px #fff;
      font-weight: 700;
      list-style: none;
      margin: 5px 0; }
      nav ul li span {
        font-weight: 100;
        display: none; }
        @media screen and (min-width:481px) {
          nav ul li span {
            display: inline; } }
      @media screen and (min-width:481px) {
        nav ul li {
          font-size: 18px;
          text-align: left; } }

section#main {
  width: 100%;
  float: left;
  padding: 20px 0 0 0; }
  @media screen and (min-width:481px) {
    section#main {
      width: 77%;
      padding: 0 0 0 140px; } }

div.wrapper {
  padding: 0 1px 0 0; }
  @media screen and (min-width:481px) {
    div.wrapper {
      padding: 0px 30px; } }
