html {
  background: #fff7ee;
  padding: 23px;
  overflow-x: hidden;
  /* For Opera */
  -webkit-box-shadow: inset #ffa3a3 0 0 0 5px, inset #45334a 0 0 0 6px, inset #796b7d 0 0 0 10px, inset #ffa3a3 0 0 0 11px, inset #45334a 0 0 0 16px;
  -moz-box-shadow: inset #ffa3a3 0 0 0 5px, inset #45334a 0 0 0 6px, inset #796b7d 0 0 0 10px, inset #ffa3a3 0 0 0 11px, inset #45334a 0 0 0 16px;
  box-shadow: inset #ffa3a3 0 0 0 5px, inset #45334a 0 0 0 6px, inset #796b7d 0 0 0 10px, inset #ffa3a3 0 0 0 11px, inset #45334a 0 0 0 16px; }

a {
  text-decoration: none;
  font-weight: 600;
  color: #45334a; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5 {
  color: #45334a;
  text-shadow: 0px 2px 2px #fff;
  font-weight: 700; }

nav {
  float: left;
  width: 100%; }
  @media screen and (min-width:481px) {
    nav {
      width: 160px;
      position: fixed; } }
  nav img {
    float: left;
    width: 140px;
    padding-right: 7px; }
    @media screen and (min-width:481px) {
      nav img {
        padding-right: 0;
        float: none; } }
  nav ul {
    position: absolute;
    right: 35px;
    margin-top: 5px; }
    @media screen and (min-width:481px) {
      nav ul {
        float: none;
        padding-left: 0px;
        margin: 25px 0 0 0; } }
    nav ul li {
      text-align: right;
      font-size: 16px;
      color: #45334a;
      text-shadow: 0px 2px 2px #fff;
      font-weight: 700;
      list-style: none;
      margin: 5px 0; }
      nav ul li span {
        font-weight: 100;
        display: none; }
        @media screen and (min-width:481px) {
          nav ul li span {
            display: inline; } }
      @media screen and (min-width:481px) {
        nav ul li {
          font-size: 18px;
          text-align: left; } }

section#main {
  width: 100%;
  float: left;
  padding: 20px 0 0 0; }
  @media screen and (min-width:481px) {
    section#main {
      width: 77%;
      padding: 0 0 0 170px; } }
  @media screen and (min-width:801px) {
    section#main {
      width: 85%; } }

div.wrapper {
  padding: 0 1px 0 0; }
  @media screen and (min-width:481px) {
    div.wrapper {
      padding: 0px 30px; } }

section.listing {
  position: relative;
  float: left;
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  width: 93%;
  height: 300px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25); }
  section.listing ul {
    padding-left: 0px; }
  section.listing ul li {
    list-style: none;
    padding: 0 0 2px 0;
    font-size: 14px; }
  section.listing ul li a {
    font-weight: 400; }
  section.listing h4 {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: -5px; }
  section.listing p.hosts {
    font-size: 13px;
    font-weight: 600; }
    section.listing p.hosts:before {
      content: 'with '; }
  section.listing p.show_description {
    font-size: 13px;
    font-style: italic;
    margin-top: -20px; }
  section.listing p.more {
    position: absolute;
    text-transform: lowercase;
    font-style: italic;
    font-size: 12px;
    bottom: 0px;
    right: 10px; }
  section.listing img {
    width: 100%;
    margin-top: -15px; }
  @media screen and (min-width:481px) {
    section.listing {
      width: 280px;
      margin: 5px 10px 5px 0px; } }

audio, audio:active {
  outline: none; }

audio {
  visibility: hidden;
  opacity: 0;
  height: 0px; }

ul {
  padding-left: 0;
  list-style: none; }

ul#controls li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  width: 60px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  ul#controls li:hover {
    background: #ffa3a3; }

p.album_artist {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 50%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  margin: 30% auto 0 auto; }

p.album_track {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 50%;
  color: #fff;
  text-align: center;
  font-size: 9px;
  margin: 15% auto; }

#turntable {
  background-size: 290px 236px;
  background-image: url("base.png");
  overflow: hidden;
  margin-left: 0px;
  width: 290px;
  height: 236px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -o-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s; }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 1; } }

#wheel {
  background-size: 189px 189px;
  background-image: url("wheel.png");
  overflow: hidden;
  position: absolute;
  width: 189px;
  height: 189px;
  left: 24px;
  top: 23px;
  z-index: 2;
  -o-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -webkit-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s; }

#turntable.on #wheel {
  -o-animation: turn 2s infinite linear;
  -moz-animation: turn 2s infinite linear;
  -webkit-animation: turn 2s infinite linear;
  -ms-animation: turn 2s infinite linear; }

#turntable.paused #wheel {
  -o-animation: stop 1s linear;
  -o-delay: 0;
  -moz-animation: stop 1s linear;
  -moz-delay: 0;
  -webkit-animation: stop 1s linear;
  -webkit-delay: 0;
  -ms-animation: stop 1s linear;
  -ms-delay: 0; }

#turntable.on.playing #wheel {
  -o-animation: turn 2s infinite linear;
  -moz-animation: turn 2s infinite linear;
  -webkit-animation: turn 2s infinite linear;
  -ms-animation: turn 2s infinite linear; }

@-o-keyframes turn {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(360deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-ms-keyframes turn {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(360deg); } }

@-o-keyframes stop {
  0% {
    -o-transform: rotate(-180deg); }

  100% {
    -o-transform: rotate(0deg); } }

@-moz-keyframes stop {
  0% {
    -moz-transform: rotate(-180deg); }

  100% {
    -moz-transform: rotate(0deg); } }

@-webkit-keyframes stop {
  0% {
    -webkit-transform: rotate(-180deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@-ms-keyframes stop {
  0% {
    -ms-transform: rotate(-180deg); }

  100% {
    -ms-transform: rotate(0deg); } }

#needle {
  background-size: 32px 142px;
  background-image: url("needle.png");
  overflow: hidden;
  position: absolute;
  width: 32px;
  height: 142px;
  left: 234px;
  top: 26px;
  z-index: 3;
  -o-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s; }

#turntable.on #needle {
  -o-animation: play 1s linear;
  -o-transform-origin: 15px 15px;
  -o-animation-fill-mode: forwards;
  -moz-animation: play 1s linear;
  -moz-transform-origin: 15px 15px;
  -moz-animation-fill-mode: forwards;
  -webkit-animation: play 1s linear;
  -webkit-transform-origin: 15px 15px;
  -webkit-animation-fill-mode: forwards;
  -ms-animation: play 1s linear;
  -ms-transform-origin: 15px 15px;
  -moz-animation-fill-mode: forwards; }

#turntable.paused #needle {
  -o-animation: replay .8s linear;
  -moz-animation: replay .8s linear;
  -webkit-animation: replay .8s linear;
  -ms-animation: replay .8s linear; }

@-o-keyframes play {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(30deg); } }

@-moz-keyframes play {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(30deg); } }

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(30deg); } }

@-ms-keyframes play {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(30deg); } }

@-o-keyframes replay {
  0% {
    -o-transform: rotate(30deg); }

  100% {
    -o-transform: rotate(0deg); } }

@-moz-keyframes replay {
  0% {
    -moz-transform: rotate(30deg); }

  100% {
    -moz-transform: rotate(0deg); } }

@-webkit-keyframes replay {
  0% {
    -webkit-transform: rotate(30deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@-ms-keyframes replay {
  0% {
    -ms-transform: rotate(30deg); }

  100% {
    -ms-transform: rotate(0deg); } }
