---
layout: default
---

{{ content }}

<h2>Our Shows</h2>

<section class="listing meditation">
	<h2><a href="/meditating"><img src="/img/who-is-meditating.png" alt="Who is Meditating?"></a></h2>
	<p class="show_description">A show about spirituality, meditation, and real-world problems from a Buddhist perspective.</p>
	<p class="hosts">Joel Baehr</p>
	<h4>Episodes</h4>
	<ul>
		{% for post in site.categories.meditating limit:5 %}	
		<li><a href="{{ post.url }}">{{ post.number }} - {{ post.title }}</a></li>
		{% endfor %}	
	</ul>
	<p class="more"><a href="/meditating">earlier shows→</a></p>
</section>

<section class="listing farming">
	<h2><a href="/farming"><img src="/img/farming.png" alt="Farming"><img src="/img/on-the-brink.png" alt="on the Brink"></a></h2>
	<p class="show_description">A show about farming.</p>
	<p class="hosts">Bob Comis</p>
	<ul>
		{% for post in site.categories.farming limit:5 %}	
		<li><a href="{{ post.url }}">Episode {{ post.number }} - {{ post.title }}</a></li>
		{% endfor %}	
	</ul>
	<p class="more"><a href="/farming">earlier shows→</a></p>
</section>

<section class="listing wrong">
	<h2><a href="/wrong"><img src="/img/am-i-wrong.png" alt="Am I Wrong?"></a></h2>
	<p class="show_description">A show discussing things we love, and things we think are flawed. We have differing opinions and nothing is out of bounds.</p>
	<p class="hosts">Mike Force, Zach Phillips</p>
	<ul>
		{% for post in site.categories.wrong limit:5 %}	
		<li><a href="{{ post.url }}">Episode {{ post.number }} - {{ post.title }}</a></li>
		{% endfor %}	
	</ul>
	<p class="more"><a href="/wrong">earlier shows→</a></p>
</section>

<section class="listing chimes">
	<h2><a href="/chimes"><img src="/img/when-the-chimes.png" alt="When the Chimes"><img src="/img/ring-like-this.png" alt="Ring Like This"></a></h2>
	<p class="show_description">A show about music.</p>
	<p class="hosts">Elizabeth Luttinger</p>
	<ul>
		{% for post in site.categories.wrong limit:5 %}	
		<li><a href="{{ post.url }}">Episode {{ post.number }} - {{ post.title }}</a></li>
		{% endfor %}	
	</ul>
	<p class="more"><a href="/chimes">earlier shows→</a></p>
</section>

<section class="listing shot">
	<h2><a href="/shot"><img src="/img/shot-reverse-shot.png" alt="Shot Reverse Shot"></a></h2>
	<p class="show_description">Interviews. Very few of them. On video.</p>
	<p class="hosts">Zach Phillips</p>
	<ul>
		{% for post in site.categories.wrong limit:5 %}	
		<li><a href="{{ post.url }}">Episode {{ post.number }} - {{ post.title }}</a></li>
		{% endfor %}	
	</ul>
	<p class="more"><a href="/shot">earlier shows→</a></p>
</section>