---
layout: default
---

<div id="turntable">
	<div id="wheel">
		<p class="album_artist">
			{% case page.show %}
			{% when 'Who is Meditating?' %}
			Who is Meditating?
			{% when 'Farming on the Brink' %}
			Farming<br />on the Brink
			{% else %}
			{{ page.show }}
			{% endcase %}
		</p>
		<p class="album_track">{{ page.number }} - {{ page.title }}</p>
	</div>
	<div id="needle"></div>
</div>

<ul id="controls">
	<a id="rewind" href="#"><li>Back</li></a>
	<a id="play" href="#"><li>Play</li></a>
	<a id="fastforward" href="#"><li>Skip</li></a>
</ul>

<audio controls preload="auto" autobuffer id="currentshow">
	<source src="http://shows.carsgirlsandsurfing.com/{{ page.categories }}-{{ page.number }}.mp3" type="audio/mp3" />	
	<source src="http://shows.carsgirlsandsurfing.com/{{ page.categories }}-{{ page.number }}.ogg" type="audio/ogg" />
</audio>

<h2 class="showtitle">
{% case page.show %}
{% when 'Who is Meditating?' %}
<img src="/img/who-is-meditating.png" alt="Who is Meditating?" class="showimage">
{% when 'Farming on the Brink' %}
<img src="/img/farming.png" alt="Farming"><br /><img src="/img/on-the-brink.png" alt="on the Brink" width="355">
{% else %}
... else ...
{% endcase %}
</h2>

<p class="episode"><em>Episode {{ page.number }} - {{ page.title }}</em></p>

<p class="showdescription">{{ page.description }}</p>

<h3>Show Notes and Links:</h3>

{{ content }}

<h3>Follow Up:</h3>

<p>Send us your thoughts, questions, and comments.</p>

{% include followup.html %}


<script type="text/javascript" charset="utf-8">
	function timeFix() {
		var t = setTimeout('recordPlay()',1000);				
	}

	function recordPlay() {
		document.getElementById('currentshow').play();	
	}
	
	function rewindAudio() {
	    // Check for audio element support.
       if (window.HTMLAudioElement) {
           try {
               var oAudio = document.getElementById('currentshow');
               oAudio.currentTime -= 30.0;
           }
           catch (e) {
               // Fail silently but show in F12 developer tools console
                if(window.console && console.error("Error:" + e));
           }
       }
   }

	function forwardAudio() {

	  // Check for audio element support.
      if (window.HTMLAudioElement) {
          try {
              var oAudio = document.getElementById('currentshow');
              oAudio.currentTime += 30.0;
          }
          catch (e) {
              // Fail silently but show in F12 developer tools console
               if(window.console && console.error("Error:" + e));
          }
      }
  }

	function restartAudio() {
	  // Check for audio element support.
      if (window.HTMLAudioElement) {
          try {
              var oAudio = document.getElementById('myaudio');
              oAudio.currentTime = 0;
          }
          catch (e) {
              // Fail silently but show in F12 developer tools console
               if(window.console && console.error("Error:" + e));
         }
      }
	}

	$(function(){

		$('#rewind').click(function(){
			rewindAudio();
		});
		
		$('#fastforward').click(function(){
			forwardAudio();
		});		

	});

	$(function(){

		$('#play').click(function(){

			if ( $('#turntable').hasClass('on') ) {


				if ( $('#turntable').hasClass('paused') ) {
					$('#turntable').removeClass('paused').addClass('playing');
					timeFix();
					console.log('playing again');
					$(this).html('<li>Pause</li>');
				} else {
					$('#turntable').removeClass('playing').addClass('paused');						
					document.getElementById('currentshow').pause();
					$(this).html('<li>Play</li>');										
				}

			} else {
				document.getElementById('currentshow').play();	
				console.log('first play');
				$('#turntable').addClass('on');
				$(this).html('<li>Pause</li>');
			}

		});		

	});
</script>